/.CFUserTextEncoding
/.DS_Store
/.Trash
/.npm
/.vscode
/.zsh_history
/.zsh_sessions
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/index.html
/package-lock.json